name: test_vue_build
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci
      - name: Run build
        run: npm run build
      - name: Debug info
        run: |
          echo "当前目录: $(pwd)"
          echo "Node版本: $(node --version)"
          echo "NPM版本: $(npm --version)"
          ls -la
          ls -la dist/
