name: test_vue_build

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Install OSSUTIL v2
        run: |
          set -e

          # 只安装unzip 不更新包列表 
          sudo apt-get install -y unzip

          # 下载 OSSUTIL v2
          curl -L -o ossutil.zip \
            https://gosspublic.alicdn.com/ossutil/v2/2.2.0/ossutil-2.2.0-linux-amd64.zip

          # 解压并安装
          unzip -q ossutil.zip
          sudo install -m 0755 ossutil-*/ossutil /usr/local/bin/ossutil

          # 清理
          rm -rf ossutil.zip ossutil-*

          # 验证安装
          ossutil --version

      - name: Configure OSSUTIL
        run: |
          ossutil config set accessKeyID ${{ secrets.OSS_ACCESS_KEY_ID }}
          ossutil config set accessKeySecret ${{ secrets.OSS_ACCESS_KEY_SECRET }}
          ossutil config set region ${{ secrets.OSS_REGION }}

      - name: Clean old files
        run: |
          ossutil rm oss://${{ secrets.OSS_BUCKET }}/ --recursive -f

      - name: Upload new files
        run: |
          ossutil cp dist/ oss://${{ secrets.OSS_BUCKET }}/ -r -f
