name: test_vue_build

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Install OSSUTIL
        run: |
          curl -L -o ossutil64 https://gosspublic.alicdn.com/ossutil/1.7.20/ossutil64
          chmod +x ossutil64

      - name: Configure OSSUTIL
        run: |
          ./ossutil64 config \
            -e ${{ secrets.OSS_ENDPOINT }} \
            -i ${{ secrets.OSS_ACCESS_KEY_ID }} \
            -k ${{ secrets.OSS_ACCESS_KEY_SECRET }}

      - name: Clean old files
        run: |
          ./ossutil64 rm oss://${{ secrets.OSS_BUCKET }}/ --recursive -f

      - name: Upload new files
        run: |
          ./ossutil64 cp dist/ oss://${{ secrets.OSS_BUCKET }}/ -r -f
