name: test_vue_build

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Install OSSUTIL v2
        run: |
          set -e

          # 安装 unzip
          sudo apt-get update -y
          sudo apt-get install -y unzip

          # 下载 OSSUTIL v2
          curl -L -o ossutil.zip \
            https://gosspublic.alicdn.com/ossutil/v2/2.2.0/ossutil-2.2.0-linux-amd64.zip

          # 解压并安装
          unzip -q ossutil.zip
          sudo mv ossutil-*/ossutil /usr/local/bin/ossutil
          sudo chmod +x /usr/local/bin/ossutil

          # 打印版本信息验证安装成功
          ossutil help

      - name: Configure OSSUTIL
        run: |
          ./ossutil config \
            --region ${{ secrets.OSS_REGION }} \
            -e ${{ secrets.OSS_ENDPOINT }} \
            -i ${{ secrets.OSS_ACCESS_KEY_ID }} \
            -k ${{ secrets.OSS_ACCESS_KEY_SECRET }}

      - name: Clean old files
        run: |
          ./ossutil rm oss://${{ secrets.OSS_BUCKET }}/ --recursive -f

      - name: Upload new files
        run: |
          ./ossutil cp dist/ oss://${{ secrets.OSS_BUCKET }}/ -r -f
